/* .running-man{

} */


.mountain{
    position: relative;
    left: calc(210px - 72px );
}

.mountain-flag{
    position: relative;
    left: calc(210px - 72px );
}

.progress {
    position: relative;
    width: 210px;
    height: 20px;
    background: #DDDADA;
    border-radius: 5px;
    overflow: hidden;
}

.progress-fill {
    width: 0%;
    height: 100%;
    background: #3E8F50;
    transition: all 0.2s;
}

.progress-text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font: bold 12px 'Quicksand', sans-serif;
    color: #000000;
}